body {
    font-family: 'Dosis', sans-serif;
    font-size: 200;
    background-color: #f1f1f1;
}

.banner{
    position: relative;
    max-width: 100%;
    height: auto;
    display: inline;
    
}
.container {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h2 {
    position: fixe;
    font-family: 'Dosis', sans-serif;
    font-size: 400;
    color: #9233a5;;
    margin-left: 80px;
}

.form-container {
    
    margin-left: 0px;

    
}
.form-group {
    font-family: 'Dosis', sans-serif;
    font-size: 200;
    margin: 20px 0;
    padding: 0 30px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group textarea{
    position: relative;
    max-width: 100%;
    width: 500px;
    padding: 10px;
    border: 1px solid #080707;
    border-radius: 10px;
    
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #080707;
    border-radius: 10px;
    width: 20px;
}
.form-group button {
  
    text-align: center;
    background-color: #9233a5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    
}


.form-group button:hover {
    background-color: #c178d4;
}

  
  /* Style the output field */


.hidden{
    display:none
}


#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#popup-content {
    text-align: center;
}

#word-count #scramble-count #character-count #scram-cha-count{
    font-size: 18px;
    margin-bottom: 10px;
}

#close-btn {
    padding: 10px 20px;
    background-color: #9233a5;
    color: #fff;
    border: none;
}

#close-btn:hover {
    background-color: #ca89db;
}

.count{
    color:#9233a5;
    margin-left: 10px;
    font-weight: bold;
}




/* Media query for smartphones */
@media  (max-width: 700px) {

.banner{
        display: none;
    }
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h2 {
   
    font-family: 'Dosis', sans-serif;
    font-size: 400;
    color: #9233a5;
    margin-bottom: 20px;
}
.form-group {
    font-family: 'Dosis', sans-serif;
    font-size: 200;
    margin: 20px 0;
    padding: 0 30px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid#080707;
    border-radius: 10px;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #080707;
    border-radius: 10px;
    width: 20px;
}
.form-group button {
  
    text-align: center;
    background-color: #9233a5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.form-group button:hover {
    background-color:#c178d4;
}


.hidden{
    display:none
}


#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#popup-content {
    text-align: center;
}

#word-count #scramble-count #character-count #scram-cha-count{
    font-size: 18px;
    margin-bottom: 10px;
}

#close-btn {
    padding: 10px 20px;
    background-color: #9233a5;
    color: #fff;
    border: none;
}

#close-btn:hover {
    background-color: #ca89db;
}

.count{
    color:#9233a5;
    margin-left: 10px;
    font-weight: bold;
}

}